body {
  font-family: 'Roboto', 'Roboto-Thin', sans-serif;
}
* {
  padding: 0;
  margin: 0
}
div, a {
  box-sizing: border-box;
}
a {
  font-size: 13px;
  color: #4673ab;
  font-weight: 300;
  &:hover {
    text-decoration: none;
  }
}
h2 {
  color: #040d0d;
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
h3 {
  color: #2c3333;
  font-size: 22px;
  font-weight: 400;
  line-height: 48px;
  display: block;
  text-transform: uppercase;
  border-bottom: 1px solid #dbdee6;
  margin-bottom: 10px;
}

/*----- section -----*/
.top-navigation-wrap {
  background-color: #040d0d;
}

.navigation-top {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  height: 41px;
  justify-content: space-between;
  align-items: center;

}

.navigation-top__item {
  a {
    height: 13px;
    padding: 0 23px;
    text-align: center;
    color: #bdc3c5;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    border-right: 1px dotted gray;
  }
  a:hover {
    text-decoration: none;
  }
}

.navigation-top__item_first {
  padding: 0 42px 0 0 !important;
}
.navigation-top__item_last {
  padding: 0 5px 0 23px !important;
  border: none !important;
}
.navigation-top__item_second {
  padding: 0 42px 0 23px !important;
}
.container {

  max-width: 1140px;
  margin: 0 auto;
}
.user-data {
  margin: 10px 0 10px 0;
  color: #323232;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  a {
    display: inline-block;
    color: #4673ab;
    text-decoration: none;

  }
}
.user-data__region a{
  border-bottom: 1px dotted #4673ab;
}
.user-data__auth a{
  margin-left: 21px;
  border-bottom: 1px solid #4673ab;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.logo {
  >span {
    color: #818588;
    font-size: 10px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.46px;
  }
  a {
    color: #040d0d;
    display: block;
    font-size: 46px;
    font-weight: 100;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: none;
    span {
      color: #ff5816;
      font-weight: 300;
      display: inline-block;
      line-height: 46px;
      width: 75px;
      height: 46px;
      background-image: url("../img/Layer_751.png");
      background-repeat: no-repeat;
      align-items: center;
      text-align: center;
    }
  }
}
.contacts__callback {
  background-image: url("../img/dialog_img.png");
  width: 112px;
  height: 57px;
  padding: 8px 0 0 17px;

}
.contacts {
  display: flex;
  width: 320px;
  justify-content: space-between;
}
.contacts__callback_content {
  text-align: center;
  display: inline-block;
  a {
    color: #4673ab;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px dotted #4673ab;
    text-decoration: none;
  }
}
.contacts__phones {
  width: 190px;
  a {
    font-size: 13px;
    color: #4673ab;
    font-weight: 300;
  }
}
.callback-phone {
  color: #040d0d;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  display: block;
}
.work-time {
  color: #040d0d;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  display: block;
}
.contact-phone {
  background-image: url("../img/icons/wats-app_icon.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  padding: 0 0 0 20px;
  height: 20px;
  background-position: top 2px left 0;
  span {
    font-size: 13px;
    padding: 0 0 0 20px;
    background-image: url("../img/icons/viber_icon.png");
    background-size: 16px 18px;
    background-repeat: no-repeat;
    font-weight: 300;
    display: inline-block;
    height: 20px;
  }
}
.decision {
  width: 230px;
}
.decision-content {
  background-image: url("../img/icons/forma_icon.svg");
  background-repeat: no-repeat;
  background-position: top 7px left 0;
  padding-left: 30px;
  margin-bottom: 12px;

  span {
    display: block;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 400;
  }
}
.decision-content__title {
  color: #ff5816;
  font-size: 18px;
  line-height: 20px;
}
.decision-content__caption {
  color: #040d0d;
  font-size: 16px;
  line-height: 18px;
}
.decision-search {
  background-color: #eff0f4;
  height: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px 0 15px;
  input {
    width: 160px;
    background-color: #eff0f4;
    border: none;
    color: #7f8486;
    font-size: 13px;
    font-weight: 300;
    line-height: 25px;
  }
  button {
    width: 58px;
    height: 26px;
    border-radius: 3px;
    background-color: #ff5816;
    border: none;
    color: white;
  }
}
.basket-display {
  width: 195px;
  height: 52px;
  padding: 8px 0 0 0;
  margin-bottom: 10px;
  background-image: url("../img/basket_bg.png");
}
.basket-content {
  background-image: url("../img/icons/basket_ico.svg");
  background-repeat: no-repeat;
  background-position: top 8px left 13px;
  padding-left: 57px;

  span {
    color: #040d0d;
    font-size: 13px;
    line-height: 18px;
  }
}
.basket-content__title {
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}
.basket-content__total-count {
  font-weight: 300;
  color: #363c3e;
  font-size: 11px;
  line-height: 18px;
}
.basket-selected {
  display: flex;
  justify-content: space-between;
  a{
    text-decoration: none;
    border-bottom: 1px dotted #4673ab;
    padding-left: 22px;
    height: 20px;
  }
}
.select {
  background-image: url("../img/icons/heart.svg");
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat;

}
.compare {
  background-image: url("../img/icons/compare_icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
}

.product-navigation {
  background-color: #ff5816;
  position: relative;
  height: 48px;
  padding: 0 15px 0 17px;
  box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);
  border-radius: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    border-right: 2px solid #ff8a5c;
    font-weight: 300;
    line-height: 16px;
    text-transform: uppercase;
    padding: 9px 6px 0 6px;
    display: block;
    height: 48px;
    &:hover {
      background: #ff743d;
    }
  }
}
.scroll-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 48px;
  background-color: #d94206;
  border-radius: 0 10px 10px 0;
  background-image: url("../img/icons/right-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.scroll-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 48px;
  background-color: #d94206;
  border-radius: 10px 0 0 10px;
  background-image: url("../img/icons/right-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
}
.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.news__left-side {
  width: 23%;
}
.news__items {
  margin-bottom: 15px;
}
.news__item {
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px dashed darkgrey;
}
.news__date {
  width: 60px;
  position: relative;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 60px;
    height: 60px;
  }
  .date {
    width: 36px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-top: -15px;
    height: 28px;
    border-radius: 4px;
    background-color: white;
    color: #ff5816;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
  span {
    color: #040d0d;
    display: inline-block;
    position: relative;
    z-index: 4;
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
    margin-top: -5px;
  }
}
.news__content {
  a {
    margin-top: 5px;
    color: #4673ab;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    display: block;
    &:hover {
      color: #ff5816;
      text-decoration: underline;
    }
  }
  span {
    color: #040d0d;
    font-size: 13px;
    display: block;
    font-weight: 300;
    line-height: 18px;
  }
}
.right-side {
  width: 74%;
}
.promo-title {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color: #131a1a;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #e3e5eb;
  border-radius: 10px;
  margin-bottom: 32px;
}
.promo-title_black {
  font-weight: 500;
}
.promo-title_blue {
  color: #4673ab;
  font-weight: 500;
}
.slider {
  height: 368px;
  position: relative;
  background-image: url("../img/slider-bg.png");
  padding: 45px 295px 40px 66px;
  .slider__img {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  ul {
    margin: 30px 0 30px 13px;
    padding: 0;
    li {
      color: #ffffff;
      font-size: 13px;
      font-weight: 300;
      line-height: 26px;
    }
  }
}
.slider__arrow_left {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -22px;
  cursor: pointer;
}
.slider__arrow_right {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -22px;
  cursor: pointer;
}
.slider__title {
  text-transform: uppercase;
}
.slider__title_orange {
  color: #ff5816;
  font-size: 31px;
  font-weight: 500;
  line-height: 36px;
  display: block;
  font-style: normal;
}
.slider__title_white {
  color: #ffffff;
  font-size: 29px;
  font-weight: 400;
  line-height: 32px;
  display: block;
  font-style: normal;
}
.slider__title_small {
  color: #ffffff;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  font-style: italic;
}
.content-button {
  width: 154px;
  height: 40px;
  box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);
  border-radius: 7px;
  display: block;
  text-align: center;
  background-color: #ffffff;
  color: #4673ab;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
}
.section {
  margin-bottom: 50px;
}
.section-title {
  color: #040d0d;
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  border-top: 1px solid lightgray;
  margin-bottom: 40px;
}

.section-title_margin {
  display: flex;
  justify-content: space-between;
  margin-top: -11px;
  span {
    background-color: white;
    padding-right: 10px;
  }
  a {
    margin-top: -3px;
    display: inline-block;
    font-size: 13px;
    background-color: white;
    padding-left: 20px;
    text-transform: none;
  }
}
.section__slider {
  display: flex;
  padding: 0 60px;
  justify-content: space-between;
  position: relative;
}
.section__slider-item {
  position: relative;
  width: 233px;
  height: 388px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dbdee6;
  padding: 32px 17px 21px 21px;
  &:hover {
    border: 1px solid #ff5e1e;
  }
  a {
    color: #4673ab;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: underline;
    &:hover {
      color: #ff5e1e;
    }
  }
}
.section__slider-img {
  height: 170px;
}

/*----- sticers -----*/

.item__sticker {
  width: 34px;
  height: 43px;
  position: absolute;
  top: -4px;
  left: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  line-height: 43px;
  text-transform: uppercase;
}
.item__sticker_new {
  background-image: url("../img/icons/flag_new.png");
}
.item__sticker_recommended {
  background-image: url("../img/icons/flag_recommended.png");
}
.item__sticker_discount {
  background-image: url("../img/icons/flag_discount.png");
}
.slider-item__price {
  display: block;
  color: #1a2222;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
}
.slider-item__price_current {
  font-size: 20px;
  font-weight: 500;
  padding: 0 5px;
}
.slider-item__price_old {
  font-size: 14px;
  color: #ff5816;
  font-weight: 300;
  text-decoration: line-through;
}
.slider-item__footer {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center;
  .detailed {
    color: #4673ab;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    margin-left: 15px;
    display: block;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      color: #4673ab;
    }
  }
}
.button-buy {
  width: 114px;
  height: 40px;
  padding-left: 20px;
  background-image: url("../img/icons/basket-button_icon.svg");
  background-repeat: no-repeat;
  background-position: top 10px left 12px;
  box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);
  border-radius: 7px;
  background-color: #ff5e1e;
  color: #fff !important;
  font-weight: 500!important;
  display: block;
  font-size: 14px !important;
  text-decoration: none !important;
  text-align: center;
  line-height: 40px !important;
  text-transform: uppercase;
  &:hover {
    box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);
    background-color: #4673ab;
  }
}
.slider__arrow_left-small {
  left: 0;
}
.slider__arrow_right-small {
  right: 0;
}

/*----- item__stock -----*/
.section__slider-item_stock {
  align-items: start;
  padding: 15px 0 15px 0;
  //padding: 32px 17px 21px 21px;

  &:hover {
    border: 1px solid #ff5e1e;
  }

  a {
    color: #4673ab;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: underline;

    &:hover {
      color: #ff5e1e;
    }
  }
}
.stock__title {
  padding: 0 17px 10px 21px;
  a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }
}
.stock__img {
  width: 123px;
}
.stock__info {
  height: 119px;
  overflow: hidden;
  padding: 5px 17px 10px 21px;
  color: #040d0d;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}
.stock-timer {
  display: flex;
  height: 65px;
  width: 100%;
  justify-content: space-between;
  background-color: #dbdee6;
  padding: 15px 17px 0 21px;

  >span {
    color: #1a2222;
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
  }

}
.stock-timer__wrap{
  width: 128px;
  img {
    margin-bottom: -3px;
  }
  >span {
    color: #337500;
    font-size: 14px;
    display: inline-block;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    padding: 10px 0 0 30px;
  }
}
.stock-timer__value {
  display: flex;
  justify-content: space-around;
  span {
    color: #7f8686;
    display: inline-block;
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
  }
}
.stock__detailed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center !important;
  a {
    color: #4673ab;
    display: inline-block;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: underline;
  }
}
.section__popular-goods {
  display: flex;
  justify-content: space-between;
}
.popular-good__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 268px;
  a {
    color: #4673ab;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: underline;
    text-transform: none;
    &:hover {
      color: #ff5e1e;
    }
  }
}
.item__image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
}
.section__brand-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_grey {
  background-color: #e3e5eb;
  border-radius: 10px;
  padding: 50px 24px 30px 28px;
}
.section-title_grey {
  color: #040d0d;
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  border-top: 1px solid white;
  margin-bottom: 40px;
  span {
    background-color: #e3e5eb !important;
    padding-right: 10px;
  }
  a {
    margin-top: -3px;
    display: inline-block;
    font-size: 13px;
    background-color: white;
    padding-left: 20px;
    text-transform: none;
  }
}

.section__strength-list {
  display: flex;
  justify-content: space-around;
  span {
    color: #040d0d;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
  }
}
.strength-list__item {
  width: 190px;
  text-align: center;
}
.strength-list__item-img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
  background-color: white;
  border-radius: 50%;
}
.section__compare {
  display: flex;
  justify-content: space-between;
}
.compare__block-reason {
  border: 2px solid #f6bdbf;
  border-radius: 10px;
  width: 49%;
}
.block-reason__title {
  color: #ffffff;
  height: 70px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 10px 0 0 66px;
  background-image: url("../img/icons/cross_icon.svg");
  background-repeat: no-repeat;
  background-position: left 30px top 30px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #cb0b13;
  border-radius: 10px 10px 0 0;
}
.block-reason__content {
  padding: 20px 20px 20px 30px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      color: #040d0d;
      font-size: 15px;
      margin-bottom: 10px;
      padding: 0 0 0 15px;
      font-weight: 300;
      background-image: url("../img/icons/red_dot.png");
      background-repeat: no-repeat;
      background-position: top 7px left 0;
      span {
        font-weight: 500;
      }
    }
  }
}
.compare__block-reason_positive {
  border: 2px solid #9bd1a6;
  .block-reason__title {
    background-color: #16a333;
    background-image: url("../img/icons/check.svg");

  }
  ul {
    li {
      background-image: url("../img/icons/green_dot.png");
    }
  }
}
.section__numbers {
  display: flex;
  justify-content: space-between;
}
.numbers__item-info{
  width: 130px;
  height: 130px;
  border: 1px solid lightgray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 30px;
  font-size: 23px;
  color: #ff5816;
  justify-content: center;
  margin-bottom: 17px;
  span {
    color: #ff5816;
    font-size: 80px;
    font-weight: 700;
    display: block;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: -4.8px;
  }

}
.numbers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  text-align: center;
  >span {
    color: #040d0d;
    font-size: 12px;
    display: block;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
  }
}
.item-info_another-color {
  color: #394a5c !important;
}
.item-info_another-size {
  font-size: 54px !important;
  color: #394a5c !important;
}
.item-info_fraction {
  font-size: 40px !important;
  letter-spacing: -3px !important;

}
.numbers__item-info_column {
  flex-direction: column;
  justify-content: center;
}
.section_rules-block {

}