body {
  font-family: 'Roboto', 'Roboto-Thin', sans-serif; }

* {
  padding: 0;
  margin: 0; }

div, a {
  box-sizing: border-box; }

a {
  font-size: 13px;
  color: #4673ab;
  font-weight: 300; }

/*----- section -----*/
.top-navigation-wrap {
  background-color: #040d0d; }

.navigation-top {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  height: 41px;
  justify-content: space-between;
  align-items: center; }

.navigation-top__item a {
  height: 13px;
  padding: 0 23px;
  text-align: center;
  color: #bdc3c5;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  border-right: 1px dotted gray; }
.navigation-top__item a:hover {
  text-decoration: none; }

.navigation-top__item_first {
  padding: 0 42px 0 0 !important; }

.navigation-top__item_last {
  padding: 0 5px 0 23px !important;
  border: none !important; }

.navigation-top__item_second {
  padding: 0 42px 0 23px !important; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.user-data {
  margin: 10px 0 10px 0;
  color: #323232;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  display: flex;
  justify-content: space-between; }
  .user-data a {
    display: inline-block;
    color: #4673ab;
    text-decoration: none; }

.user-data__region a {
  border-bottom: 1px dotted #4673ab; }

.user-data__auth a {
  margin-left: 21px;
  border-bottom: 1px solid #4673ab; }

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }

.logo > span {
  color: #818588;
  font-size: 10px;
  font-weight: 300;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.46px; }
.logo a {
  color: #040d0d;
  display: block;
  font-size: 46px;
  font-weight: 100;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none; }
  .logo a span {
    color: #ff5816;
    font-weight: 300;
    display: inline-block;
    line-height: 46px;
    width: 75px;
    height: 46px;
    background-image: url("../img/Layer_751.png");
    background-repeat: no-repeat;
    align-items: center;
    text-align: center; }

.contacts__callback {
  background-image: url("../img/dialog_img.png");
  width: 112px;
  height: 57px;
  padding: 8px 0 0 17px; }

.contacts {
  display: flex;
  width: 320px;
  justify-content: space-between; }

.contacts__callback_content {
  text-align: center;
  display: inline-block; }
  .contacts__callback_content a {
    color: #4673ab;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px dotted #4673ab;
    text-decoration: none; }

.contacts__phones {
  width: 190px; }
  .contacts__phones a {
    font-size: 13px;
    color: #4673ab;
    font-weight: 300; }

.callback-phone {
  color: #040d0d;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  display: block; }

.work-time {
  color: #040d0d;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  display: block; }

.contact-phone {
  background-image: url("../img/icons/wats-app_icon.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  padding: 0 0 0 20px;
  height: 20px;
  background-position: top 2px left 0; }
  .contact-phone span {
    font-size: 13px;
    padding: 0 0 0 20px;
    background-image: url("../img/icons/viber_icon.png");
    background-size: 16px 18px;
    background-repeat: no-repeat;
    font-weight: 300;
    display: inline-block;
    height: 20px; }

.decision {
  width: 230px; }

.decision-content {
  background-image: url("../img/icons/forma_icon.svg");
  background-repeat: no-repeat;
  background-position: top 7px left 0;
  padding-left: 30px;
  margin-bottom: 12px; }
  .decision-content span {
    display: block;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 400; }

.decision-content__title {
  color: #ff5816;
  font-size: 18px;
  line-height: 20px; }

.decision-content__caption {
  color: #040d0d;
  font-size: 16px;
  line-height: 18px; }

.decision-search {
  background-color: #eff0f4;
  height: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2px 0 15px; }
  .decision-search input {
    width: 160px;
    background-color: #eff0f4;
    border: none;
    color: #7f8486;
    font-size: 13px;
    font-weight: 300;
    line-height: 25px; }
  .decision-search button {
    width: 58px;
    height: 26px;
    border-radius: 3px;
    background-color: #ff5816;
    border: none;
    color: white; }

.basket-display {
  width: 195px;
  height: 52px;
  padding: 8px 0 0 0;
  margin-bottom: 10px;
  background-image: url("../img/basket_bg.png"); }

.basket-content {
  background-image: url("../img/icons/basket_ico.svg");
  background-repeat: no-repeat;
  background-position: top 8px left 13px;
  padding-left: 57px; }
  .basket-content span {
    color: #040d0d;
    font-size: 13px;
    line-height: 18px; }

.basket-content__title {
  display: block;
  font-weight: 500;
  text-transform: uppercase; }

.basket-content__total-count {
  font-weight: 300;
  color: #363c3e;
  font-size: 11px;
  line-height: 18px; }

.basket-selected {
  display: flex;
  justify-content: space-between; }
  .basket-selected a {
    text-decoration: none;
    border-bottom: 1px dotted #4673ab;
    padding-left: 22px;
    height: 20px; }

.select {
  background-image: url("../img/icons/heart.svg");
  background-position: 0 0;
  display: inline-block;
  background-repeat: no-repeat; }

.compare {
  background-image: url("../img/icons/compare_icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block; }

.product-navigation {
  background-color: #ff5816;
  position: relative;
  height: 48px;
  padding: 0 15px 0 17px;
  box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);
  border-radius: 10px;
  display: flex;
  align-items: center;
  overflow: hidden; }
  .product-navigation a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    border-right: 2px solid #ff8a5c;
    font-weight: 300;
    line-height: 16px;
    text-transform: uppercase;
    padding: 9px 6px 0 6px;
    display: block;
    height: 48px; }
    .product-navigation a:hover {
      background: #ff743d; }

.scroll-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 48px;
  background-color: #d94206;
  border-radius: 0 10px 10px 0;
  background-image: url("../img/icons/right-arrow.png");
  background-repeat: no-repeat;
  background-position: center center; }

.scroll-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 48px;
  background-color: #d94206;
  border-radius: 10px 0 0 10px;
  background-image: url("../img/icons/right-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: none; }

/*# sourceMappingURL=style.css.map */
